:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --heading-color: #1b0760;
  --body-color: #9186a1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--body-color);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Link */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--accent-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.3s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--primary-color);
  color: white;
}

.badge--secondary {
  background-color: var(--secondary-color);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.3rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--heading-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../icons/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f3f9fa;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
  white-space: nowrap;
}

.btn:hover {
  opacity: 0.9;
}

.btn--primary {
  background-color: var(--primary-color);
  color: white;
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: white;
}

.btn--accent {
  background-color: var(--accent-color);
  color: white;
}

.btn--block {
  width: 100%;
  display: inline-block;
  margin: 1rem 0;
}

.btn--outline {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
  background-color: white;
  transition: all 0.15s ease-in;
}

.btn--outline:hover {
  background-color: var(--heading-color);
  color: white;
  border: none;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
