<footer class="block block--dark footer">
  <div class="grid">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Product</h2>

        <img
          class="icon icon--white collapsible__chevron"
          src="icons/chevron.svg"
          alt=""
        />
      </header>

      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#"></a>WordPress Hosting</li>
        <li class="nav__item"><a href="#"></a>Free Automated WordPress</li>
        <li class="nav__item"><a href="#"></a>Migration</li>
        <li class="nav__item"><a href="#"></a>Domain Names</li>
        <li class="nav__item"><a href="#"></a>Monthly Web Hosting</li>
      </ul>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Product</h2>

        <img
          class="icon icon--white collapsible__chevron"
          src="icons/chevron.svg"
          alt=""
        />
      </header>

      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#"></a>WordPress Hosting</li>
        <li class="nav__item"><a href="#"></a>Free Automated WordPress</li>
        <li class="nav__item"><a href="#"></a>Migration</li>
        <li class="nav__item"><a href="#"></a>Domain Names</li>
        <li class="nav__item"><a href="#"></a>Monthly Web Hosting</li>
      </ul>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Product</h2>

        <img
          class="icon icon--white collapsible__chevron"
          src="icons/chevron.svg"
          alt=""
        />
      </header>

      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#"></a>WordPress Hosting</li>
        <li class="nav__item"><a href="#"></a>Free Automated WordPress</li>
        <li class="nav__item"><a href="#"></a>Migration</li>
        <li class="nav__item"><a href="#"></a>Domain Names</li>
        <li class="nav__item"><a href="#"></a>Monthly Web Hosting</li>
      </ul>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Product</h2>

        <img
          class="icon icon--white collapsible__chevron"
          src="icons/chevron.svg"
          alt=""
        />
      </header>

      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#"></a>WordPress Hosting</li>
        <li class="nav__item"><a href="#"></a>Free Automated WordPress</li>
        <li class="nav__item"><a href="#"></a>Migration</li>
        <li class="nav__item"><a href="#"></a>Domain Names</li>
        <li class="nav__item"><a href="#"></a>Monthly Web Hosting</li>
      </ul>
    </section>

    <section class="footer__brand">
      <a href=""><img src="images/logo.svg" alt="" /></a>
      <p class="footer__copyright">Copyright &copy;2020</p>
    </section>
  </div>
</footer>
