<section class="block block-testimonial">
  <header class="block__header block-testimonial__header">
    <h2>What our Customer are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni debitis
      quasi quaerat. Tempore, debitis. Porro obcaecati eveniet dolor atque illo.
    </p>
  </header>

  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img src="images/testimonial.jpg" alt="a smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon--small icon--white">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor,
            pariatur quia inventore sit eaque corporis suscipit et praesentium
            tenetur aliquid.
          </p>
          <div class="media">
            <div class="media-image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Jhone Lumeo</h3>
              <p class="quote__organization">Mosh company ceo</p>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
